:root{
    --lightbg:#75c297;
    --purple:#9000F0;
    --orange:#F09800;
}

*{
    margin:0px;
    padding:0px;
}

body{
    background-color: var(--lightbg);
}

.header{
    width:100%;
    overflow: hidden;
    position: fixed;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--orange);
    align-items: center center;
    border-bottom: black solid 0.5vh;
    border-top: black solid 0.25vh;
}
.nav-elements{
    display: inline-flex;
    

}
.nav-elements a:hover{
    background-color: var(--lightbg);
}
.nav-elements a{
    text-decoration: none;
    text-align: center center;
    font-size: 3vh;
    padding:1.5vh;
    color: black;
}
a:visited{
    color: black;
}

.home{
    padding-top:5vh;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin-bottom: 15vh;
    flex-direction: column;
    background: var(--purple);
    border-bottom: var(--orange) solid 0.5vh;
    padding-bottom: 3vh;
}
.photos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.home_text{
    margin-top:3vw;
    display: flex;
    justify-content: center;
}
.home-text{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 2.5vw;
}


.info{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--purple);
    border:var(--lightbg) 1vh;
    border-radius: 3vh;
    margin:15vw;
    padding:10vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
    text-align: center;
    font-size: 20px;
}

.info2{
    margin:3vw;
    padding:5vw;
}
.dob{
    font-size: 15px;
    
}
.table{
    display: block;
}
.name{
    
    display: flex;
    justify-content: flex-start;
    margin: 2vw;
    padding: 2vw;
}
.name h1{
    font-size: 10vh;
    width: 50vh;
    background: var(--purple);
    display: block;
    text-align: center;
    border:var(--lightbg) 1vh;
    border-radius: 5vh;
    padding:3vh;
}
.photo{
    border: 0.25vh solid black;
    display: inline-block;
    width:34vh;
    margin:2vh;
}
#right{
    text-align: right;
}
#left{
    text-align: left;
}

.skills{
    margin-bottom: 0vw;
    padding-bottom: 5vw;
    padding-top: 5vw;
}
.skill{
    margin-top: 2vw;
}
.card{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 1vw;
    padding: 2vw;
    background-color: var(--orange);
    border:var(--lightbg) 1vh;
    border-radius: 3vh;
}

.achievements{
    padding-bottom: 5vw;
    padding-top: 5vw;
    margin-bottom: 0vw;
}


.footer{
    display: flex;
    flex-direction: column;
    background: var(--orange);
    border-top: var(--purple) solid ;
}
.contact{
    display:block;
    font-size: 20px;
}
.icons{
    display:flex;
}
.icon{
    margin:1vw;
    padding:2vw;
}