:root{
    --lightbg:#9befcb;
    --purple:#b0455c;
    --orange:#c9b34d;
    --light: #c4ae48c8;
}

*{
    margin:0px;
    padding:0px;
}

body{
    background-color: var(--lightbg);
}

.header{
    width:100%;
    overflow: hidden;
    position: fixed;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--orange);
    align-items: center center;
    border-bottom: black solid 0.5vh;
    border-top: black solid 0.25vh;
    
}
.nav-elements{
    display: inline-flex;
    border: black solid 0.25vh;
    box-shadow: black 0.5vw 0.5vw 0.5vw 0.5vw ;
}
.nav-elements a:hover{
    background-color: var(--lightbg);
}
.nav-elements a{
    text-decoration: none;
    text-align: center center;
    font-size: 3vh;
    padding:1.5vh;
    color: black;
}
a:visited{
    color: black;
}

.home{
    padding-top:6vh;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin-bottom: 15vh;
    flex-direction: column;
    background: var(--purple);
    border-bottom: var(--orange) solid 0.5vh;
    padding-bottom: 3vh;
    width: 100vw;
}
.photos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.home_text{
    margin-top:3vw;
    display: flex;
    justify-content: center;
}
.home-text{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 2.5vw;
}


.info{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--purple);
    border:var(--lightbg) 1vh;
    border-radius: 3vh;
    margin:15vw;
    padding:10vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
    text-align: center;
    font-size: 4vw;
}

.info2{
    margin:3vw;
    padding:5vw;
}
.dob{
    font-size: 3vw;
    
}
.table{
    display: block;
}
.name{
    
    display: flex;
    justify-content: flex-start;
    margin: 2vw;
    padding: 2vw;
}
.name h1{
    font-size: 10vh;
    width: 50vh;
    background: var(--purple);
    display: block;
    text-align: center;
    border:var(--lightbg) 1vh;
    border-radius: 5vh;
    padding:3vh;
}
.photo{
    border: 0.25vh solid black;
    display: inline-block;
    width:34vh;
    margin:2vh;
}
#right{
    text-align: right;
}
#left{
    text-align: left;
}

.skills{
    margin-bottom: 0vw;
    padding-bottom: 5vw;
    padding-top: 5vw;
}
.skill{
    margin-top: 2vw;
}
.card{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 1vw;
    padding: 2vw;
    background-color: var(--light);
    border:var(--lightbg) 1vh;
    border-radius: 3vh;
}

.achievements{
    padding-bottom: 5vw;
    padding-top: 5vw;
    margin-bottom: 0vw;
}


.footer{
    display: flex;
    flex-direction: column;
    background: var(--orange);
    border-top: var(--purple) solid ;
}
.contact{
    display:block;
    font-size: 20px;
}
.icons{
    display:flex;
}
.icon{
    margin:1vw;
    padding:2vw;
    display: flex;
}
.line-icon{
    margin:1vw;
    padding:2vw;
}
.icon-photo{
    width:10vw;
}
.icon-photo2{
    width:25vw;
}

@media only screen and (max-width: 600px) {
    .photo3{
        display:none;
        width:200vw;
    }
}
@media only screen and (max-width: 500px) {
    .nav{
        flex-direction: column;
    }
    .home{
        padding-top:30vh;
    }
    .icons{
        flex-direction: column;
    }
}
@media only screen and (min-width: 800px) {
    .info{
        margin:10vw;
        padding:10vw;
    }
    .contact{
        font-size: 40px;
    }
    .icons{
        font-size: 30px;
    }
    .card{
        font-size: 25px;
    }
    .info{
        font-size: 30px;
    }
    .dob{
        font-size:25px ;
    }
    .info{
        margin:3vw;
        padding:3vw;
    }
    .skills{
        margin-top: 10vw;
    }
    .achievements{
        margin-top: 10vw;
    }
    .icon-photo{
        width:8vw;
    }
    .icon-photo2{
        width:20vw;
    }
}